.services {
  margin-top: 80px;
  margin-bottom: 40px;
}
.services_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.services_span {
  color: var(--color-light-blue);
  font-size: 11px;
  padding: 9px;
  background-color: rgba(55, 125, 255, 0.1);
  border-radius: 12px;
  max-width: 180px;
}
.services_title {
  font-size: 2.5rem;
  font-weight: 400;
}
.services_text {
  color: var(--color-gray);
  font-size: 1.1rem;
  line-height: 30px;
}
.article_info {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 20px;
}
.services_card {
  padding: 40px 10px 60px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  gap: 40px;
  background-color: var(--color-white);
  border: 0.5px solid rgba(128, 128, 128, 0.646);
}
.services_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.services_item h3 {
  font-size: 2rem;
  font-weight: 400;
}
.services_item p {
  color: var(--color-gray);
  font-size: 1.2rem;
  line-height: 24px;
}
.services_card a {
  padding: 20px;
  max-width: 240px;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  background-color: var(--color-light-blue);
  border-radius: 12px;
  color: var(--color-white);
  transition: all 0.2s;
}
@media screen and (max-width: 1050px) {
  .article_info {
    flex-direction: column;
  }
}
